<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/6eee29" class="cbp-lightbox">
            <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/0c83ae" alt="">
        </a>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Flat Roman Typeface Ui</div>
        <div class="cbp-l-inline-subtitle">by Cosmin Capitanu</div>

        <div class="cbp-l-inline-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>

        <div class="cbp-l-project-social">
            <a href="#" class="cbp-social-fb" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="#" class="cbp-social-twitter" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="#" class="cbp-social-googleplus" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="cbp-social-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
        </div>

        <div class="cbp-l-inline-view-wrap">
            <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a>
        </div>
    </div>
</div>
