<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/aysegul.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">AYSEGUL YONET</div>
        <div class="cbp-l-inline-subtitle">DIRECTOR &amp; CTO</div>

        <div class="cbp-l-inline-desc">is a Software Engineer focusing on data visualization and analytics. Aysegul leads weekly Women Who Code and Girl Develop It JavaScript Meetups in San Francisco. She also teaches workshops for D3.js, AngularJS, and MEAN stack.</div>

        <div class="cbp-l-project-social">
            <a href="http://www.twitter.com/AysegulYonet"><i class="ion ion-social-twitter-outline"></i></a>
            <a href="https://www.linkedin.com/in/aysegulyonet"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

