<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/bradley.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">BRADLEY MYLES</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is Polaris’s Executive Director and CEO. He has been combating the issue of human trafficking for over a decade since beginning work at Polaris in 2004. Mr. Myles played an instrumental role in building Polaris Project’s national programs focused on systemic change in the areas of policy advocacy, training, and capacity-building. He also helped create and launch Polaris Project’s operation of the United States national human trafficking hotline at 1-888-373-7888.</div>

        <div class="cbp-l-project-social">
            <a href="http://www.polarisproject.org/"><i class="ion ion-ios-world-outline"></i></a>
        </div>
    </div>
</div>

