<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/jessica.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">JESSICA HUBLEY</div>
        <div class="cbp-l-inline-subtitle">COFOUNDER</div>

        <div class="cbp-l-inline-desc">is an attorney and entrepreneur running her own legal practice in the Bay Area. After earning a BA and Master’s from Emory University and attending Stanford Law School, Jessica worked at Latham & Watkins LLP and Dickstein Shapiro LLP, advising internet, cloud, and digital media companies on general commercial matters, with a particular focus on privacy issues, IP management, and distribution strategies. Her practice specializes in e-commerce and privacy law in the Bay Area, where she works to guide tech startups through their lifecycle with profitable responsibility. She also writes novels and was introduced to the global issues of human trafficking several years ago through her work as the President of Women of Stanford Law. She has been interviewing and gathering stories of human trafficking survivors around the world, and is currently represented by Trident Media Group for a narrative nonfiction piece that highlights the stories of trafficking survivors from around the globe and how existing technology could have helped them.</div>

        <div class="cbp-l-project-social">
            <a href="https://twitter.com/jessicalhubley"><i class="ion ion-social-twitter-outline"></i></a>
            <a href="http://www.linkedin.com/in/jessicalhubley"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

