<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/mary.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">MARY CUNNINGHAM AGEE</div>
        <div class="cbp-l-inline-subtitle">DIRECTOR</div>

        <div class="cbp-l-inline-desc">has served as Strategic Planning Vice President and top Management Executive with two Fortune 100 Corporations, and is currently CEO of Aurea Estate Wines. Mary is also the founder and CEO of The Nurturing Network, an international charitable organization that is dedicated to alleviating the many forms of abuse, neglect and exploitation facing women. She is advising AnnieCannons on strategy and business development.</div>

        <div class="cbp-l-project-social">
            <a href="http://www.nurturingnetwork.org/"><i class="ion ion-ios-world-outline"></i></a>
            <a href="https://www.linkedin.com/in/mary-cunningham-agee-8110055"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

