<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/mckinley.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">MCKINLEY SMITH</div>
        <div class="cbp-l-inline-subtitle">DIRECTOR</div>

        <div class="cbp-l-inline-desc">is a seasoned communications and operations professional experienced in facilitating and publicizing major tech companies’ cross-cultural initiatives. She also brings years of experience with human rights initiatives to AnnieCannons, where she helps direct our messaging and manages our outsourcing partnerships.</div>

        <div class="cbp-l-project-social">
            <a href="https://twitter.com/McKinleySmith"><i class="ion ion-social-twitter-outline"></i></a>
            <!-- <a href="#"><i class="ion ion-social-linkedin-outline"></i></a> -->
        </div>
    </div>
</div>

