<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/minh.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">MINH DANG</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is a leadership development consultant specializing in inter-cultural competence and empowering survivors of trauma. She is currently a Team Manager at The Linde Group, an IT Consulting firm.</div>

        <div class="cbp-l-project-social">
            <a href="http://www.twitter.com/minhspeakstruth"><i class="ion ion-social-twitter-outline"></i></a>
            <!-- <a href="https://pr.linkedin.com/in/pattiordonezrozo"><i class="ion ion-social-linkedin-outline"></i></a> -->
        </div>
    </div>
</div>

