<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/patti.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">PATTI ORDOÑEZ</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is a professor of Computer Science at the University of Puerto Rico who came back to computer science to get a PhD after a mostly-male class had driven her away, and who has been featured on NPR. She is consulting on our curriculum development and teaching methods.</div>

        <div class="cbp-l-project-social">
            <a href="https://twitter.com/PattiOrdonez"><i class="ion ion-social-twitter-outline"></i></a>
            <a href="https://pr.linkedin.com/in/pattiordonezrozo"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

