<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/richard.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">RICHARD LUI</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is a journalist and news anchor for MSNBC and NBC News and formerly CNN Worldwide. His international reporting has focused on humanitarian issues including gender equality and human trafficking. He has been designated a public representative for women’s and girl’s’ rights at the UN, Plan International, and Not For Sale.</div>

        <div class="cbp-l-project-social">
            <a href="https://twitter.com/RichardLui"><i class="ion ion-social-twitter-outline"></i></a>
        </div>
    </div>
</div>

