<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
      <img src="wp-content/themes/anniecannons/assets/images/team/tamika.jpg" alt="">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">TAMIKA BUTLER</div>
        <div class="cbp-l-inline-subtitle">ADVISOR</div>

        <div class="cbp-l-inline-desc">is the Executive Director of the Los Angeles County Bicycle Coalition. Before running nonprofit organizations, she litigated employment discrimination cases, and she currently guides major nonprofits on effecting social change and fighting discrimination. For AnnieCannons, she’ll also be advising on nonprofit operations.</div>

        <div class="cbp-l-project-social">
            <!-- <a href="http://www.twitter.com/minhspeakstruth"><i class="ion ion-social-twitter-outline"></i></a> -->
            <a href="http://www.linkedin.com/pub/tamika-butler/59/565/187"><i class="ion ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</div>

