<div class="cbp-l-project-title">Shopping Gallery</div>
<div class="cbp-l-project-subtitle">by Cosmin Capitanu</div>

<div class="cbp-slider" style="max-width: 800px">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/b45b04" class="cbp-lightbox">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/b45b04" alt="">
            </a>
        </li>
        <li class="cbp-slider-item">
            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f0dd51" class="cbp-lightbox">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f0dd51" alt="">
            </a>
        </li>
        <li class="cbp-slider-item">
            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/71f55f" class="cbp-lightbox">
                <img src="http://scriptpie.com/cubeportfolio/img/?i=1200x900/71f55f" alt="">
            </a>
        </li>
    </ul>
</div>

<div class="cbp-l-project-container" style="max-width: 800px">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>

        <div class="cbp-l-project-social">
            <a href="#" class="cbp-social-fb" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="#" class="cbp-social-twitter" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="#" class="cbp-social-googleplus" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="cbp-social-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <div class="cbp-l-project-details">
        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 July 2015</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="#" target="_blank" class="cbp-l-project-details-visit">OPEN PROJECT</a>
    </div>
</div>

<div class="cbp-l-project-container" style="max-width: 800px">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project1.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/717c2b" alt="">
                    <div class="cbp-l-project-related-title">Dashboard</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project2.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/0cf7a7" alt="">
                    <div class="cbp-l-project-related-title">World Clock Widget</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project3.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/097189" alt="">
                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br><br><br>
