<div class="cbp-l-project-title">Speed Detector</div>
<div class="cbp-l-project-subtitle">You are an outstanding athlete and you need to measure your skills !</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//player.vimeo.com/video/877053" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </li>
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//player.vimeo.com/video/86603468" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </li>
        <li class="cbp-slider-item">
            <div class="cbp-misc-video">
                <iframe src="//player.vimeo.com/video/27260633" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>

        <div class="cbp-l-project-social">
            <a href="#" class="cbp-social-fb" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="#" class="cbp-social-twitter" title="Share on Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="#" class="cbp-social-googleplus" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="cbp-social-pinterest" title="Share on Pinterest" rel="nofollow"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <div class="cbp-l-project-details">
        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 July 2015</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="#" target="_blank" class="cbp-l-project-details-visit">OPEN PROJECT</a>
    </div>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project11.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/35fadd" alt="">
                    <div class="cbp-l-project-related-title">Generic Apps</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project1.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/b611ec" alt="">
                    <div class="cbp-l-project-related-title">Dashboard</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="ajax-juicy-projects/project2.html" class="cbp-singlePage cbp-l-project-related-link" rel="nofollow">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x250/ee3501" alt="">
                    <div class="cbp-l-project-related-title">World Clock Widget</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br><br><br>
