<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts - Cube Portfolio</title>

    <!-- load fonts from google -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700%7CRoboto:400,500,700%7CRoboto+Condensed%7CLato:400,700" rel="stylesheet" type="text/css">

    <!-- load font awesome from cnd -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- load css for cubeportfolio -->
    <link rel="stylesheet" type="text/css" href="../../cubeportfolio/css/cubeportfolio.min.css">
</head>
<body style="max-width: 1200px; width: 97%; margin: 100px auto; min-height: 1000px;">
    <div class="clearfix">
        <div id="js-filters-blog-posts" class="cbp-l-filters-list cbp-l-filters-left">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">All (<div class="cbp-filter-counter"></div>)</div>
            <div data-filter=".print" class="cbp-filter-item">Print (<div class="cbp-filter-counter"></div>)</div>
            <div data-filter=".web-design" class="cbp-filter-item">Web Design (<div class="cbp-filter-counter"></div>)</div>
            <div data-filter=".logos" class="cbp-filter-item">Logo (<div class="cbp-filter-counter"></div>)</div>
            <div data-filter=".motion" class="cbp-filter-item cbp-l-filters-list-last">Motion (<div class="cbp-filter-counter"></div>)</div>
        </div>

        <div class="cbp-search cbp-l-filters-right">
            <input id="js-search-blog-posts" type="text" placeholder="Search by title" autocomplete="off" data-search=".cbp-l-grid-blog-title" class="cbp-search-input">
            <div class="cbp-search-icon"></div>
            <div class="cbp-search-nothing">No results match for <i>{{query}}</i></div>
        </div>
    </div>

    <div id="js-grid-blog-posts" class="cbp">
        <div class="cbp-item print motion">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/b20447" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">We want to rule the world </a>
            <div class="cbp-l-grid-blog-date">20 december 2013</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">12 comments</a>
            <div class="cbp-l-grid-blog-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laud...</div>
        </div>
        <div class="cbp-item web-design logos">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/efd6e0" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Create your own playlist</a>
            <div class="cbp-l-grid-blog-date">25 december 2013</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">8 comments</a>
            <div class="cbp-l-grid-blog-desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae.</div>
        </div>
        <div class="cbp-item print motion">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/2fbe1c" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Your online buddie</a>
            <div class="cbp-l-grid-blog-date">29 december 2013</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">23 comments</a>
            <div class="cbp-l-grid-blog-desc">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. </div>
        </div>
        <div class="cbp-item web-design print">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/aea60e" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">A man with a true style</a>
            <div class="cbp-l-grid-blog-date">5 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">111 comments</a>
            <div class="cbp-l-grid-blog-desc">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam moles...</div>
        </div>
        <div class="cbp-item motion logos">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/2b60e4" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">We believe in leaders</a>
            <div class="cbp-l-grid-blog-date">8 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">1 comments</a>
            <div class="cbp-l-grid-blog-desc">Voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimu.</div>
        </div>
        <div class="cbp-item print motion">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/b43363" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Here's a quick breakdown</a>
            <div class="cbp-l-grid-blog-date">14 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">54 comments</a>
            <div class="cbp-l-grid-blog-desc">Perspiciatis unde omnis iste natus error sit voluptatem accusantium. Sed ut perspiciatis...</div>
        </div>
        <div class="cbp-item web-design print">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/69114e" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Designing Your First Website</a>
            <div class="cbp-l-grid-blog-date">67 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">12 comments</a>
            <div class="cbp-l-grid-blog-desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, voluptatem accusantium consequat vitae...</div>
        </div>
        <div class="cbp-item print logos">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/331c55" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Coding Your First Website</a>
            <div class="cbp-l-grid-blog-date">25 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">6 comments</a>
            <div class="cbp-l-grid-blog-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem voluptatem accusantium.</div>
        </div>
        <div class="cbp-item motion logos">
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x230/31ed38" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-text">VIEW POST</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank" class="cbp-l-grid-blog-title">Responsive Web Design</a>
            <div class="cbp-l-grid-blog-date">28 january 2014</div>
            <div class="cbp-l-grid-blog-split">|</div>
            <a href="#" class="cbp-l-grid-blog-comments">3 comments</a>
            <div class="cbp-l-grid-blog-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</div>
        </div>
    </div>

    <!-- load jquery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- load cubeportfolio -->
    <script type="text/javascript" src="../../cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

    <!-- init cubeportfolio -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
